/*Her laver jeg layout til nav*/

header{
    border-bottom: 1px solid;
    color: var(--light-grey-color);
}
.nav__ {
    height: 65px;
}

.nav__search__bar {
    background-color: var(--light-color);
    display: grid;
    margin: 0 auto;
    width: 1800px;
    height: 45px;
    border: none;
    outline: none;
}

::placeholder{
    font-size: 20px;
    font-weight: bold;
    color: var(--search-color);
}



/*Her styler jeg links og header*/
.explore__section{
    margin-left: 20em;
}
.explore__header{
    display: flex;
    margin: 25px;
    gap: 1rem;
    font-size: 55px;
    color: var(--dark-color);
}

.explore__links{
    text-decoration: none;
    font-size: 24px;
    color: var(--light-grey-color);
    font-weight: bold;
}

.explore__links:hover{
    color: var(--dark-color);
}

.explore__container {
    display: flex;
    margin: 25px;
    gap: 1rem;
}

/*Styling til selve galleriet*/
.gallery__container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  .gallery__column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  .gallery__column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 95%;
    border-radius: 5px;
  }

  /*footer*/
  .footer__{
    margin-top: 50px;
    height: 328px;
    border-top: 1px solid var(--light-grey-color);
  }

  .footer__logos{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    gap: 1em;
    color: var(--dark-color);
  }


  /*responsive*/
  @media screen and (max-width: 800px) {
    .gallery__column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  @media screen and (max-width: 600px) {
    .gallery__column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }