body{
    header {
        ul{
            li{
                @media (max-width:1200px){
                    display: none;
                }
                @media (min-width:1200px){
                    display: inline-block;
                    
                }
            }
            .mobile-only{
                @media (max-width:1200px){
                    display: inline-block;
                }
                @media (min-width:1200px){
                    display: none;
                }
            }
        }
    }
}



// @media max-width:1200px
//desktop

// @media min-width:1200px
//dekstop
