@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$color-light: white;
$color-medium-light: lightgray;
$color-medium-dark: darkgray;
$color-dark: black;
$font-family: "Montserrat", sans-serif;