@use "./placeholders/variables";
@use "./placeholders/base";
@use "./placeholders/mixins";
@use "./placeholders/layout";
@use "./placeholders/componet";


.heading{
    margin-left: 15%;
    margin-bottom: 1rem;
    color: variables.$headingColor
}
.navBar{
    @include mixins.navBar(600px, flex, 1rem);
    margin-left: 15%;
    margin-bottom: 2rem;
    &__items{
        list-style: none;
    }
    &__links{
        text-decoration: none;
       color: variables.$navColor;
        &--burger{
            display: none;
        }
    }
}

@media only screen and (max-width: 600px) {
    .navBar{
        
        &__items{
            list-style: none;
            display: none;
            &--burger{
                display: block;
                a{
                    display: block;
                    font-size: 2rem;
                }

            }
        }
        
        &__links{
            text-decoration: none;
            color: black;
           
        }
    }
   
}

